* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.container {
    padding: 120px 80px;
}
.destaque {
    font-weight: 700;
    font-style: italic;
}
h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px;
}
   /* Fim CSS Global */
 
   /* começo banner */
.banner-topo {
    background-image: url("imagens/banner-topo.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 550px;
}
.container-nome-logo {
    max-width: 250px;
    color: #3c184e;
}
.container-nome-logo img {
    width: 30px;
    margin-right: 5px;
    padding-top: 150px;
}
.container-nome-logo .nome-pet-shop {
    font-size: 35px;
    margin: 0 0 5px 0;
}
.container-nome-logo .slogan-pet-shop {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.container-nome-logo {
    margin-left: 200px;
    font-size: 35px;
 }

.container-titulo-topo {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0;
    background: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}
.titulo-topo {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px;
}
.link-fale-conosco {
    text-align: center;
    width: 200px;
    padding: 10px 25px;
    font-size: 20px;
    background-color: #3c184e;
    border-radius: 10px;
    margin: 0 auto;
}
.link-fale-conosco a {
    color: #ffff;
}
.container-titulo-topo img {
    width: 20px;
}
   /* fim banner */

   /* inicio servicos */

.box-servicos {
    max-width: 900px;
    color: #3c184e;
    margin: 0 auto 50px; 
}
.box-servicos li {
    font-size: 20px;
    margin: 0 0 20px;
}
.box-servicos-img {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
.box-servicos-img img {
    box-shadow: 3px 6px 10px 6px #0000005c;
    border-radius: 5px;
 }

.container h2 {
    text-align: center;
    color: #3c184e;
    
}
   /* fim servicos */

   /* redes sociais */

.container-faixa {
    background-color: #3c184e;
    text-align: center;
    padding: 130px 0px 130px 0px;
}

.text-faixa {
    max-width: 800px;
    margin: 0 auto 50px;
    color: #fff;
    font-size: 40px;
}

.redes-sociais a {
    margin: 0 20px;
}

.text-faixa span {
    font-weight: 550;
    font-style: italic;
}

.redes-sociais img {
    width: 50px;
    height: 50px;
}

  /* fim redes sociais */

    /* iniicio marcas */

.container-marcas {
    text-align: center;
}

.secao-marcas {
  padding: 95px;
}

    /* fim marcas */

.onde-estamos {
  text-align: center;
}
   /* inicio onde estamos */

.onde-estamos p {
    color: #3c184e;
    font-size: 25px;
    margin: 0px 0px 45px;
}

.onde-estamos iframe {
    width: 800px;
    height: 450px;
}

    /* fim onde estamos */

    /* inicio rodape */

.rodape {
    background-color: #3c184e;
    padding: 10px 0;

}
.text-rodape {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.text-rodape span {
    font-style: italic;
}

